/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}
html {
  -webkit-text-size-adjust: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

ul,ol, legend{ padding: 0; }
ul,ol{ list-style: none; }
button, select, textarea { -webkit-appearance:none; outline: none; }
input::-webkit-input-placeholder { /*font-size: 14px; color: #ccc;*/ }
img{ border:0; vertical-align: top; }
ol,ul{ list-style:none; }
a:hover{  }
ins,a{ text-decoration: none; }
a,img { -webkit-touch-callout: none; }

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* custom */
input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}
textarea:focus {
  outline: none;
}

a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
img {
  -webkit-touch-callout: none;
  border: 0;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 10px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html, body {
  font-family: "Microsoft YaHei","PingFang SC","Hiragino Sans GB","SimSun","sans-serif";
  font-size:14px;
  height: 100%;
  /*overflow: hidden;*/
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
i {
  font-style: normal;
}
/*-----------------------------------------------------------------------*/
/* 文字超出宽度显示 ... */
.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  display: inline-block;
  background-size: cover;
}

.clear:after{
  content: ""; display: table; clear: both;
}
/*------------------------------------动画----------------------------------------*/
/* zoom */
@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}
/*slide*/
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}
@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}
.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}
@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}
@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
}



@-webkit-keyframes ball-grid-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.7; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
}

@keyframes ball-grid-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.7; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
}

.ball-grid-pulse {
  width: 2.7rem;
}
.ball-grid-pulse > div:nth-child(1) {
  -webkit-animation-delay: -0.06s;
  animation-delay: -0.06s;
  -webkit-animation-duration: 0.72s;
  animation-duration: 0.72s;
}
.ball-grid-pulse > div:nth-child(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  -webkit-animation-duration: 1.02s;
  animation-duration: 1.02s;
}
.ball-grid-pulse > div:nth-child(3) {
  -webkit-animation-delay: -0.17s;
  animation-delay: -0.17s;
  -webkit-animation-duration: 1.28s;
  animation-duration: 1.28s;
}
.ball-grid-pulse > div:nth-child(4) {
  -webkit-animation-delay: 0.48s;
  animation-delay: 0.48s;
  -webkit-animation-duration: 1.42s;
  animation-duration: 1.42s;
}
.ball-grid-pulse > div:nth-child(5) {
  -webkit-animation-delay: 0.31s;
  animation-delay: 0.31s;
  -webkit-animation-duration: 1.45s;
  animation-duration: 1.45s;
}
.ball-grid-pulse > div:nth-child(6) {
  -webkit-animation-delay: 0.03s;
  animation-delay: 0.03s;
  -webkit-animation-duration: 1.18s;
  animation-duration: 1.18s;
}
.ball-grid-pulse > div:nth-child(7) {
  -webkit-animation-delay: 0.46s;
  animation-delay: 0.46s;
  -webkit-animation-duration: 0.87s;
  animation-duration: 0.87s;
}
.ball-grid-pulse > div:nth-child(8) {
  -webkit-animation-delay: 0.78s;
  animation-delay: 0.78s;
  -webkit-animation-duration: 1.45s;
  animation-duration: 1.45s;
}
.ball-grid-pulse > div:nth-child(9) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  -webkit-animation-duration: 1.06s;
  animation-duration: 1.06s;
}
.ball-grid-pulse > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  float: left;
  -webkit-animation-name: ball-grid-pulse;
  animation-name: ball-grid-pulse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.empty-block {
  display: none !important;
}
.app-wrapper+div{
  position: fixed!important;
}

.el-dropdown-selfdefine :focus{
  outline: none !important
}

.el-dropdown-selfdefine {
  outline: none !important
}

.el-input__inner {
  border-radius: 0px;
  border: 1px solid #ebebeb;
}
